/* Global Section
------------------------*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
} 

body {
    background-color: thistle;
    color: #343434;
    margin: 0px;
    padding: 0px;
}


img {
    width: 300px;
}


h1 {
    /* color: #00014A ; */
    margin: 0px;
/*    text-align: center;*/
}

h2 {
    /* color: blueviolet; */
    margin: 0px;
}

h3 {
    margin: 5px 0px; 
}

.imp {
    color: rebeccapurple ;           
}

 .aht {                      
    color: darkblue;
}

#test {                     
    /*background: yellow;*/
    font-family: monospace;
}

/* Profile Section
------------------------*/
header {
    background-color: #00014A;
    color: whitesmoke;
    /* padding: 5px; */
    /* height: 170px; */
    /* border: 4px; */
    text-align: center;
    line-height: 1.2;
}

header img {
    float: left;
    width: 180px;
    height: 104px;
    padding-right: 25px;
}
/*a {
    color: red;
}*/


/* Training Details Section
-------------------------------*/
.project a {
    background: #00014A ;
    color: white ;
    text-decoration: none;
/*    margin-top: 0px;*/
    padding: 11px;
    border-radius: 6px;
    display: inline-block;
}

.project a:hover {
    background: rgb(0, 1, 74, 50%);
}

.training {
    overflow: hidden;
    border-bottom: 1px dashed #343434;
    padding: 10px 0;
}

.training img {
    float: left;
    margin-right: 20px;
}

.training h3 {
    margin-top: 0px;
}

/* Work Expe
rience Section
-------------------------------*/
/*
.work-experience {
    background: #3FB2F0;
}
*/

.align {
    text-align: center;
/*    color:white;*/
    margin-bottom: 10px;
}

.exp-no {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 15px;
}

.exp-details {
    background: #62A6D5;  
    padding-left: 8px;
    padding-top: 8px;
/*    text-align: justify;*/
}

.exp-summery {
    margin-top: 0;
    padding-left: 8px;
    padding-top: 8px;
    background: #91A391 ;
}

.exp-no h3 {
    margin: 0;
}



/* Footer Section
-------------------------------*/
.project1 a {
    /*background: #00014A ;*/
    color: white ;
    text-decoration: none;
    padding: 4px;
    border-radius: 6px;
}

.project1 {
  /*  background-color: aqua;
    padding: 20px;*/
}
.project1 a:hover {
    background: rgb(0, 1, 74, 50%);
    text-decoration: none ;
}


footer {
    background-color: #00014A; 
    text-decoration: none;
/*    text-align: justify-all;*/
    color: rgb(165, 131, 147); 
    color: white ;
    display: block ;
    padding: 2px;   
}

/*.work {
    background: #343434;
    color: white;
    display: inline;
}*/

.wrap {
    width: 1100px;
    margin: 0 auto;
    padding: 8px;
}

.remove a {
    text-decoration: none;
    color: rgb(165, 131, 147); 
}

.align {
    padding-left: 25px;
}

.icon img {
    width: 20px;
    border-radius: 6px;
}